body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}
* {
	box-sizing: border-box;
}
#video {
	width: 72%;
	height: 100%;
	background: #000;
}
#ravi {
	width: 28%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	background: #fff;
}
#ravi .buttons {
    position: absolute;
    left: -140px;
    top: 100px;
    width: 100px;
    z-index: 1000;
}
#ravi .buttons .btn {
    width: 90px;
    margin-bottom: 10px;
    padding: 1rem 0;
    border-radius: 3px;
    font-size: .85rem;
	font-weight: 600;
    color: white;
    text-align: center;
}
#ravi .c0 {
	background-color: #c92a2a;
}
#ravi .c1 {
	background-color: #f59f00;
}
#ravi .c2 {
	background-color: #3b5bdb;
}
#ravi .c3 {
	background-color: #868e96;
}
#ravi .boxes {
    overflow-y: scroll;
    height: 96%;
    padding: 1.5rem;
	box-sizing: border-box;
}
#ravi .box {
    border-width: 1px 1px 1px 6px; 
	border-style: solid;
    padding: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.2rem;
}
#ravi .b0 {
	border-color: #c92a2a;
}
#ravi .b1 {
	border-color: #f59f00;
}
#ravi .b2 {
	border-color: #3b5bdb;
}
#ravi .b3 {
	border-color: #868e96;
}
#ravi .box.b0 {
	margin-left: 0;
}
h2 {
	margin-top: 0;
}